<div class="container mt-4">
  <h1 style="color: #0D3182; text-align: center">Teams</h1>
  
  <% if current_user.admin? || current_user.ta? %>
    <div style="text-align: center" class="mb-3">
      <%= link_to 'Create a new team', new_team_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
  
  <div>
    <table class="table table-hover">
      <thead style="background-color: #0D3182; color: white">
        <tr>
          <th>Team Name</th>
          <th>Semester</th>
          <th>Members</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <td><%= team.semester.name_for_select %></td>
            <td><%= team.users.count %></td>
            <td>
              <%= link_to 'View', team_path(team), class: 'btn btn-outline-secondary btn-sm' %>
              <% if current_user.admin? || current_user.ta? %>
                <%= link_to 'Edit', edit_team_path(team), class: 'btn btn-outline-secondary btn-sm' %>
                <%= button_to 'Delete', team_path(team), method: :delete, class: 'btn btn-outline-secondary btn-sm', data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>