<div class="container">
  <div class="d-flex bg-color1 text-white justify-content-center align-items-center m-5 p-3">
    <div class="d-flex flex-column">
      <h1>Create Team</h1>
      <div>
        <%= bootstrap_form_with model: @team, local: true do |f| %>
          <div class="form-group">
            <%= f.text_field :name, required: true %>
            <%= f.collection_select :semester_id, @semesters, :id, :name_for_select, { label: "Semester" } %>
            <%= f.text_area :description, rows: 3 %>
            <%= f.text_field :github_token, label: "GitHub Token (optional)" %>
            <%= f.submit %>
          </div>
        <% end %>
      </div>
      <%= link_to 'Cancel', teams_path, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>