<div class="container">
  <h1 style="color: #0D3182; text-align: center">
    <%= link_to teams_path, class: "" do %>
      <%= image_tag "arrow-left-circle-fill.svg", class:"mr-1", style: "height:32px"%>
    <% end %>
    Team: <%= @team.name %>
  </h1>
  
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Semester: <%= @team.semester.name_for_select %></h5>
      <% if @team.description.present? %>
        <p class="card-text"><%= @team.description %></p>
      <% end %>
    </div>
  </div>
  
  <h2 style="color: #0D3182;">Team Members</h2>
  <div>
    <table class="table table-hover">
      <thead style="background-color: #0D3182; color: white">
        <tr>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% if @team_members.any? %>
          <% @team_members.each do |member| %>
            <tr>
              <td><%= member.email %></td>
              <td>
                <% if member.admin? %>
                  Admin
                <% elsif member.ta? %>
                  TA
                <% elsif member.student? %>
                  Student
                <% else %>
                  Guest
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2">No members in this team yet.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <% if current_user.admin? || current_user.ta? %>
    <div style="text-align: center" class="mt-3">
      <%= link_to 'Edit Team', edit_team_path(@team), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>