<nav class="navbar navbar-expand-lg navbar-dark bg-color1 fixed-top">
  <div class="container-fluid">
    <%= link_to 'Home', semesters_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <%# Conditional rendering based on controller and action names %>
        <li class="nav-item">
          <%= render 'shared/team_sprint_dropdowns' if controller_name == 'semesters' && action_name == 'team' %>
        </li>
        <%# Team page %>
        <li class="nav-item">
          <a class="nav-link" href="<%= teams_path %>" aria-expanded="false">
    Teams
  </a>

        </li>
        <%# Admin dashboard %>
        <% if current_user && (current_user.admin? || current_user.ta?) %>
          <li class="nav-item">
            <a class="nav-link" href="<%= admin_dashboard_path %>" aria-expanded="false">
              Admin Dashboard
            </a>
          </li>
        <% end %>
        <%# Classlist dropdown addition %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarSemesterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Classlist
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarSemesterDropdown">
            <% @semesters.each do |semester| %>
              <li><%= link_to semester.name_for_select, semester_classlist_path(semester), class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
        <%# User account or sign-in dropdown %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if user_signed_in? %>
              <i class="bi bi-person-circle me-1"></i>
              <%= current_user.email %>
            <% else %>
              <i class="bi bi-person-circle me-1"></i>
              Sign In
            <% end %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <% if user_signed_in? %>
              <li><%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item' %></li>
              <li>
                <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </li>
            <% else %>
              <li><%= link_to 'Sign In', new_user_session_path, class: 'dropdown-item' %></li>
            <% end %>
          </ul>
        </li>


        
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar {
    padding: 5px;
  }
</style>
